NEXT_PUBLIC_SUPABASE_URL=https://hkxzyzqudoldyrsotlwp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhreHp5enF1ZG9sZHlyc290bHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4ODU5NDEsImV4cCI6MjEwNDQ2MTk0MX0.KWWmE8sWIcmRE1g11LIGFZ9tAMg3yfsunBFovDJEEk4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhreHp5enF1ZG9sZHlyc290bHdwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODg4NTk0MSwiZXhwIjoyMTA0NDYxOTQxfQ.l5Lld33aOkPhdO-xzs76DNu09MPgeAdshUwTEBwsCIY
GEMINI_API_KEY=AIzaSyBmQMzDNNn08rHdwQrynI8tuPtNEOV_W7o
